<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DestinationDirPathWindows" value="YOUR_PATH_HERE" />
        <add key="DestinationDirPathLinux" value="YOUR_PATH_HERE" />
        <add key="FFMPEGExeLocation" value="ffmpeg" />
        <!-- assumes ffmpeg is in your path, change if needed to the absolute path of the executable -->
    </appSettings>
</configuration>
